In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('ny_taxi_postgres_data/green_tripdata_2019-09.csv',low_memory=False)
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1.0,1.0,0.0
1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
2,2.0,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
3,2.0,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1.0,1.0,0.0
4,2.0,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1.0,1.0,0.0

### Question 3. Count records

In [5]:
# Assuming df is your DataFrame with columns lpep_pickup_datetime and lpep_dropoff_datetime
df['pickup_date'] = pd.to_datetime(df['lpep_pickup_datetime']).dt.date
df['dropoff_date'] = pd.to_datetime(df['lpep_dropoff_datetime']).dt.date

# Filter the DataFrame for trips on September 18, 2019
trips_on_sep_18 = df[(df['pickup_date'] == pd.to_datetime('2019-09-18').date()) &
                     (df['dropoff_date'] == pd.to_datetime('2019-09-18').date())]

# Get the number of trips
number_of_trips = len(trips_on_sep_18)

print(f'The number of taxi trips on September 18, 2019, is: {number_of_trips}')

The number of taxi trips on September 18, 2019, is: 15612

### Question 4. Largest trip for each day

In [5]:
# Assuming df is your DataFrame with columns lpep_pickup_datetime, lpep_dropoff_datetime, and trip_distance
df['pickup_date'] = pd.to_datetime(df['lpep_pickup_datetime']).dt.date
df['dropoff_date'] = pd.to_datetime(df['lpep_dropoff_datetime']).dt.date

# Group by pick-up date and sum the trip distances
daily_trip_distances = df.groupby('pickup_date')['trip_distance'].sum()

# Find the pick-up day with the largest total trip distance
max_distance_day = daily_trip_distances.idxmax()
max_distance_value = daily_trip_distances.max()
print(f'The pick-up day with the largest total trip distance was {max_distance_day} with a total distance of {max_distance_value} miles.')

The pick-up day with the largest total trip distance was 2019-09-26 with a total distance of 58759.94 miles.

### Question 5. Three biggest pickups

### Question 6. Largest tip